In [43]:
import xlrd
import pandas as pd

In [49]:
date = '20200120'

In [46]:
def openBCCfile(date = '20200120'):
    data_dir = '~/projects/bcc_weekly_reports/data/'
    postfix = '_report.xlsx'
    loc = (data_dir + date + postfix)

    print('Opening {}'.format(loc))
    wb = xlrd.open_workbook(loc)
    sheet = wb.sheet_by_index(2)
    print('Rows: {}, Cols: {}'.format(sheet.ncols, sheet.nrows))
    
    return wb, sheet

wb, sheet = openBCCfile(date='20200120')

Opening ~/projects/bcc_weekly_reports/data/20200120_report.xlsx
Rows: 4, Cols: 24

In [85]:
def importCOAdata(table='totals', date = '20200120'):
    '''
    Return a df of one of the 3 tables found in the COA weekly report
    '''
    # Which table to import
    if table == 'totals':
        rows = range(1,3)
    elif table == 'product_category':
        rows = range(4,9)
    elif table == 'fail_category':
        rows = range(9,23)

    data = []
    for row in rows:
        data.append(sheet.row_values(row))

    data_df = pd.DataFrame(data=data[1:], columns=data[0], dtype='int')
    
    # Create date column and make dtype=datetime
    data_df['date'] = pd.to_datetime(date)
    data_df
    
    return data_df

In [94]:
pd.to_datetime(date)

Timestamp('2020-01-20 00:00:00')

In [93]:
totals['date'] = pd.to_datetime(totals['date'])
totals

,Certificates of Analysis Received,Tested Batches,,Failed Batches,date
0,90793,90793,,6124,2020-01-20

In [86]:
totals = importCOAdata(table='totals')
totals

,Certificates of Analysis Received,Tested Batches,,Failed Batches,date
0,90793,90793,,6124,20200120

In [87]:
importCOAdata(table='product_category')

,Tested Batches By Category,Tested Batches,,Failed Batches By Category,date
0,Flower:,44108,,2401,20200120
1,"Inhalable\n(cartridges, waxes, etc.):",31715,,2170,20200120
2,"Other\n(edibles, tinctures, topicals, etc.):",14970,,1553,20200120
3,Total:,90793,,6124,20200120

In [88]:
importCOAdata(table='fail_category')

          *Reasons For Failure    Failed Batches By Category        date
0                Label Claims:                          2379    20200120
1                  Pesticides:                          1790    20200120
2        Microbial Impurities:                           929    20200120
3           Residual Solvents:                           361    20200120
4                 Homogeneity:                            36    20200120
5            Foreign Material:                            26    20200120
6                    Moisture:                            71    20200120
7                Heavy Metals:                           541    20200120
8              Water Activity:                            51    20200120
9                Cannabinoids:                            77    20200120
10                 Mycotoxins:                            10    20200120
11  Injurious to Human Health:                             2    20200120
12                      Total:                          6273    20200120

In [89]:
! ls ../../data

20200106_report.xlsx 20200113_report.xlsx 20200120_report.xlsx